<h1>Recommendations#new</h1>
<p>Find me in app/views/recommendations/new.html.erb</p>

<div class="container">
  <div class="banner">
    <h1>GoodFood</h1>
  </div>
  <div class="body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi velit accusamus exercitationem perferendis est vitae.</p>
  </div>
  <div>
    <button class="btn-gen">Generate</button>
  </div>
</div>
