<p>Main Page</p>

<div class="container">
  <div class="banner">
    <h1>GoodFood</h1>
  </div>
  <div class="body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi velit accusamus exercitationem perferendis est vitae.</p>
  </div>
  <div class=card-bottom>
    <button class="btn-gen"><%= link_to "Generate", recommendations_show_path%></button>
  </div>
</div>
