<p>Recommendations Page</p>

<div class="container">
  <div class="breadcrum-back"><%= link_to "🔙", recommendations_new_path%></div>
  <div class="banner">
    <% recommendations = @meals.sample(1) %>
    <% recommendations.each do |meal|  %>
    <h1><%= meal.name  %></h1>
    <% end %>
  </div>
  <div class="body">
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi velit accusamus exercitationem perferendis est vitae.</p>
  </div>
    <div class=card-bottom>
        <button class="btn-gen"><%= link_to " 🤤 ", recommendations_show_path%></button>
    </div>
  </div>
</div>
<div class=card-bottom>
    <button class="btn-gen"><%= link_to "Go Back", recommendations_new_path%></button>
</div>
