// Place all the styles related to the Recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-gen :any-link {
  text-decoration: none;
  color: white;
}

.btn-gen {
  image-orientation: flip;
}

.breadcrum-back :any-link{
  text-decoration: none;

}